package {{servicePackage}};

{{#imports}}
import {{import}};
{{/imports}}

import java.util.List;
import javax.annotation.Generated;

@Generated(
        value = "org.openapitools.codegen.languages.SpringCodegen",
        date = "{{generatedDate}}",
        comments = "Generator version: {{generatorVersion}}"
)
public interface {{classname}}ApiDelegate {

{{#operations}}
{{#operation}}
    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}
    {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
    {{#lambda.camelcase}}{{classVarName}}{{/lambda.camelcase}}{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}(
            {{#allParams}}{{dataType}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}{{#vendorExtensions.x-pass-roles}}, java.util.List<String> roles{{/vendorExtensions.x-pass-roles}}{{#vendorExtensions.x-pass-tenant}}, String tenantId{{/vendorExtensions.x-pass-tenant}}
    );
{{/operation}}
{{/operations}}
}
